<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Почтовый сервис</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Оформление подписки</h1>
        <p class="lead">
            Оформление подписки на <b>"<span th:text='${magazine.name}'></span>"</b>
        </p>
        <form action="" th:action="@{/magazines/subscribe}" method="post">
            <div class="row">
                <input class="hidden" name="id" th:value="${magazine.id}"/>
                <div class="col-lg-9 form-group">
                    <input class="form-control" type="date" name="endDate"/>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-success">Оформить</button>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>